$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-extra-large: 24px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;
